{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1>Task</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Заголовок</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>{{ task.status }}</td>
            </tr>
            <tr>
                <th>Дедлайн</th>
                <td>{{ task.dueDate ? task.dueDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_task_index') }}" class="btn btn-secondary">Назад к списку</a>


{% endblock %}
